body{
    background-color: white;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show .nav-link {
  background-color:#148fcf;
  color: white;
  
}

.navbar{
  background-color:#f6efe8;
  padding:20px;
}
.navbar-brand{
  font-weight: 700;
  font-size: 40px;
  font-family: 'Alex Brush', cursive;
}

.navbar-light .navbar-nav .nav-link{
  font-weight: 700;
  font-size: large;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Helvetica;
}

  #container_footer { 
    display: flex;
    width: 100%; 
   height: 200px;  
   justify-content: space-around;
   background-color: white;
   margin-top: 30px;
   
   
} 
  #container_footer div{
      width: 25%;
      padding-left: 25px;
      padding-top: 20px;
  }

  .wrapper{
    display: flex;
    position: relative;
    
  }
  
  .wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #f6efe8;;
    padding: 30px 0px;    
  }
  
  .wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #6e6b7c;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
  }    
  
  .wrapper .sidebar ul li a{
    color: black;
    display: block;
  }
  
  .wrapper .sidebar ul li a .fas{
    width: 25px;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color:rgb(221,160,221);
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #fff;
  }

  .wrapper .main_content{
    margin-left: 60px;
    margin-top: 50px;
  }
  
  
  .wrapper .main_content div{
    padding:20px 35px;
  }
  
  .card-img-top{
    width:250px;
    height:200px;
  }


  .filterDiv{
    margin: 1%;
  }

  .card-title{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bold;
  }

  .card{
    border: none;
  }

  .btn{
    font-family: Helvetica;
    width: 75%;
    font-weight: 600;
  }
  
  .card{
    border: none;
  }

  @media (max-width: 800px) {
  
    .wrapper{
      height:0%;
      flex-direction: column;
    }
    .wrapper .sidebar ul li{
      padding:0%;
    }
    
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;};
    .main_content {margin-left: 0;}

    .wrapper .sidebar{
      width:100%;
    }
  }

  