

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show .nav-link {
    background-color:#148fcf;
    color: white;
    
}

.navbar{
    padding: 10px 20px;
    background-color: rgb(240,248,255);
}
.navbar-brand{
    font-weight: 700;
    font-size: 40px;
    font-family: 'Alex Brush', cursive;
}

.navbar-light .navbar-nav .nav-link{
    font-weight: 700;
    font-size: large;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Helvetica;
}


#banner{
    padding-left: 3%;
    padding-top: 3%;
    height:530px;
}

#banner img{
    width:650px;
    height:500px;
    padding-bottom: 20px;
}

#banner h1{
    padding-top: 20%;
    padding-left: 100px;
    font-size: 60px;
    font-weight: bold;
}

#banner h2{
    font-size: 35px;
    padding-left: 22%;
    padding-top:2%;
}

#banner h1, h2{
    font-family: Helvetica;
}

#container h1{
    text-align: right;
    padding-top: 100px;
    padding-right: 130px;
    font-size: 60px;

}
#container h2{
    text-align: right;
    padding-top: 35px;
    padding-right: 200px;
    font-size: 40px;

}
#body-container{
    display: flex;
    width: 100%;
    height: 700px;
    justify-content: space-around;
    background-color: rgb(173,216,230);
}

#body-container div h3{
    padding-top: 135px;
}
#body-container div{

    height: 500px;
    width: 40%;
    padding-top:90px;
    padding-left: 50px;
    
}

#body-container h2{
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
    
}

#body-container p{
    padding-top: 8px;
    padding-bottom: 10px;
}

input[type=text], input[type=email], select, textarea {
    padding: 12px; /* Some padding */ 
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    
  }

  #container-footer { 
    display: flex;
    width: 100%; 
   height: 200px;  
   justify-content: space-around;
   
   
} 
  #container-footer div{
      width: 25%;
      padding-left: 25px;
      padding-top: 20px;
  }

  #container-footer h4{
    font-family: 'Alex Brush', cursive;
    font-weight: 600;
    font-size: 30px;
  }

  .footer-heading{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 15px;

  }

  li{
    font-family: Helvetica;
    font-size: 13px;
  }

  .form-control{
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
    font-family: 'Pacifico', cursive;
    color: #212529;	
  }

  ::placeholder {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: #838788;
    position: relative;
    left: 0;
  }
.message{
    padding: 1rem;
}
  form{
    min-width: 25rem;
  }

  .submit{
      border-radius: 2rem;
  }
  #body-container h3{
      font-family: 'Lato', sans-serif;
  }

  #footer-foot{
      font-family: Helvetica;
  }

  

  @media (max-width: 800px) {
     #body-container, #container-footer, #banner{
        height: 0%;
        flex-direction: column;
    }
    #body-container div{
        height:0%;
    }

    #banner h1{
        padding-top: 10px;
    }
    
    #body-container div h3{
        padding-top: 15px;
    }
    #body-container div{
        width:100%;
        padding-top:30px;
        padding-bottom: 20px;
    }

    #banner img{
        width:fit-content;
        padding-left:20px;
    }

    #container-footer div{
        width:100%;
    }
  }
  @media (max-width: 500px) {

    #banner img {
        width: 337px;
        padding-left: 20px;
        padding-top: 20px;
        height: 250px;
    }

    #banner h1{
        font-size:40px;
        padding-left:20px;
        padding-top: 1px;
    }
    form{
        min-width: 0rem;
    }

    #body-container div{
        padding: 30px 10px 20px 15px;
    }

    #banner h2{
        margin-bottom: 2.5rem;
    }
    .navbar-brand{
        font-size: 1.25rem;
    }

  }
