body{
    background-color: rgb(240, 240, 240);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show .nav-link {
    background-color:#148fcf;
}

.navbar{
    background-color: transparent;
}
 #container {
    background-image: url("https://image.freepik.com/free-vector/contact-us-concept-landing-page_52683-12860.jpg");
    background-color: rgb(240, 240, 240);;
    background-position:left top; 
    background-repeat: no-repeat;
    background-size: 770px 410px;
    width: 100%;
    border-color:rgb(240, 240, 240);
    height: 450px;
    margin: 0 auto;
    
}

#container h1{
    text-align: right;
    padding-top: 100px;
    padding-right: 130px;
    font-size: 60px;

}
#container h2{
    text-align: right;
    padding-top: 35px;
    padding-right: 200px;
    font-size: 40px;

}
#body_container{
    display: flex;
    width: 100%;
    height: 700px;
    justify-content: space-around;
}

#body_container div{

    height: 500px;
    width: 40%;
    padding-top:90px;
    padding-left: 20px;
    
}

input[type=text], input[type=email], select, textarea {
    width: 90%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  #container_footer { 
    display: flex;
    width: 100%; 
   height: 200px;  
   justify-content: space-around;
   background-color: rgb(216,191,216);
   
   
} 
  #container_footer div{
      width: 25%;
      padding-left: 25px;
      padding-top: 20px;
  }

  @media (max-width: 1000px) {
    #container, #body_container, #container_footer{
        height: 0%;
        flex-direction: column;
    }
    #body_container div{
        width:100%;
    }
    #container h1{
        padding-top:370px;
        font-size: 45px;
    }
    #container h2{
        font-size: 30px;
    }
    #container{
        background-size:contain;
    }
  }