.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show .nav-link {
    background-color:#148fcf;
    color: white;
    
}

.navbar{
    background-color:#f6efe8;
    padding:20px;
}
.navbar-brand{
    font-weight: 700;
    font-size: 40px;
    font-family: 'Alex Brush', cursive;
}

.navbar-light .navbar-nav .nav-link{
    font-weight: 700;
    font-size: large;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Helvetica;
}